*.log
.DS_Store
.env
.env.backup
.env.production
.env.local
.env.*.local
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# Laravel specific
npm-debug.log
yarn-error.log
.php_cs.cache
.php_cs
.php_cs.dist
docker-compose.override.yml

# IDE files
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
